* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

[contenteditable] {
  font: inherit;
  line-height: 1.5;
  width: 600px;
  padding: 8px 12px;
  overflow: auto;
  height: 10rem;
  border: 1px solid;
  resize: both;
}
