* {
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 16px;
  line-height: 1.4;
  resize: none;
  font-family: sans-serif;
}

input {
  width: 400px;
  padding: 8px 12px;
  font-family: sans-serif;
}
